.element__delete-button {
    background-image: url(../../../images/deletebutton.svg);
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 19px;
    margin: 0;
    transition: opacity .3s ease-in;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete-button:hover {
    opacity: 0.5;
}