.profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 50px auto;
    max-width: 880px;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .profile {
        max-width: 660px;
    }
}

@media screen and (max-width: 700px) {
    .profile {
        flex-direction: column;
        margin: 0 auto 36px auto;
        max-width: 282px;
    }
}