.popup__error_visible {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FF0000;
      }

@media screen and (max-width: 700px) {
      .popup__error_visible {
        max-width: 230px;
        }
      }