.popup__form-field {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin: 0;
    outline: 0;
    min-height: 27px;
}

.popup__form-field:first-of-type {
    margin-bottom: 5px;
}


