.popup__save-button {
    margin: 48px 0 37px 0;
    min-height: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;

}

.form__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 700px) {
    .popup__save-button {
        margin: 45px 0 25px 0;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}